h2 {
  text-align: center;
  margin-top: 2%;
}

.button-row {
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.svg-row{
  justify-content: center;
  gap: 120px;
  margin-top: 40px;
}

.btn1 {
  padding: 20px 20px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
}

.btn2 {
  padding: 10px 30px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
}

.btn3 {
  padding: 10px 30px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
}

.submit{
  justify-content: center;
  padding: 10px 30px;
  color: white;
  background-color: green;
  border-radius: 10px;
  border: 2px solid black;
}
.dropdown-toggle {
  padding: 10px 30px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  margin: 15px;
}

.dropdown-menu {
  border-radius: 10px;
  border: 2px solid black;
  width: 100px;
  text-align: center;
  min-width: 150px; 
}

#caloriesInput {
  padding: 10px 30px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px;
  width: 180px;
}

.btn-default {
  background-color: transparent;
  color: black;
}

.btn-selected {
  background-color: green;
  color: white;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.animate-fade {
  animation: fade 2s infinite;
}